@model IEnumerable<MyWebApp.Models.Brand>
@{
    var selected = ViewBag.SelectedSlugBrands as List<string> ?? new();
}

 @foreach (var brand in Model)
        {
            <div class="col-auto">
                <div class="form-check form-check-inline btn-check-wrap">
                    <input class="btn-check"
                           type="checkbox"
                           name="SelectedSlugBrands"
                           value="@brand.Slug"
                           id="brand_@brand.Slug"
                           @(selected.Contains(brand.Slug) ? "checked" : "") />
                    <label class="btn btn-outline-primary btn-sm rounded-pill"
                           for="brand_@brand.Slug">
                        @brand.Name
                    </label>
                </div>
            </div>
        }