<aside class = "col-lg-3 mb-4">
    <div class = "card mb-4 shadow-sm">
        <div class = "card-header bg-primary text-white">
            <i class = "fas fa-list"></i> Danh mục
        </div>
        @await Component.InvokeAsync("Category") <!-- Điều này sẽ gọi Component Danh mục -->
       
    </div>
    <div class = "card shadow-sm">
        <div class = "card-header bg-success text-white">
            <i class = "fas fa-tags"></i> Thương hiệu
        </div>
        @await Component.InvokeAsync("Brand") <!-- Điều này sẽ gọi Component Thương hiệu -->
    </div>
</aside>