@model IEnumerable<MyWebApp.Models.Category>
@{
    var selectedIds = ViewBag.SelectedSlugCategories as List<string> ?? new();
}

@foreach (var category in Model)
{
    <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               name="SelectedSlugCategories"
               value="@category.Slug"
               id="category_@category.Slug"
               @(selectedIds.Contains(category.Slug) ? "checked" : "") />
        <label class="form-check-label" for="category_@category.Slug">@category.Name</label>
    </div>
}


