@model IEnumerable<MyWebApp.Models.Category>
@{
    var selectedIds = ViewBag.SelectedSlugCategories as List<string> ?? new();
}

  @foreach (var category in Model)
        {
            <div class="col-auto">
                <div class="form-check form-check-inline btn-check-wrap">
                    <input class="btn-check"
                           type="checkbox"
                           name="SelectedSlugCategories"
                           value="@category.Slug"
                           id="category_@category.Slug"
                           @(selectedIds.Contains(category.Slug) ? "checked" : "") />
                    <label class="btn btn-outline-success btn-sm rounded-pill"
                           for="category_@category.Slug">
                        @category.Name
                    </label>
                </div>
            </div>
        }


