@model IEnumerable<MyWebApp.Models.Category>
@{
    var selectedIds = ViewBag.SelectedSlugCategories as List<string> ?? new();
}
<link rel = "stylesheet" href = "~/css/User/CategoryCs.css"/>
<div class = "filter-chips category-chips">
    @foreach (var category in Model)
    {
        <div class = "filter-chip">
            <input
                class = "filter-checkbox"
                type = "checkbox"
                name = "SelectedSlugCategories"
                value = "@category.Slug"
                id = "category_@category.Slug"
                @(selectedIds.Contains(category.Slug) ? "checked" : "")
            />
            <label class = "filter-chip-label" for = "category_@category.Slug">
                <span class = "chip-icon-prefix">
                    <i class = "fas"></i>
                </span>
                <span class = "chip-text">@category.Name</span>
                <span class = "chip-icon">
                    <i class = "fas fa-check"></i>
                </span>
            </label>
        </div>
    }
</div>


