@model MyWebApp.ViewModels.ProductFilterViewModel

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}


<form method = "get" asp-action = "Index">
    <div class = "row">
        <div class = "col-md-12">
            <h2 class = "mb-4 text-primary fw-bold">Danh sách sản phẩm</h2>
            <div id = "product-list-container">
                @await Html.PartialAsync("_ProductListPartial", Model.Products)
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Bắt sự kiện khi checkbox thay đổi
            $('#filterForm input[type="checkbox"]').on('change', function () {
                let form = $('#filterForm');
                let url = '@Url.Action("FilterPartial", "Product", new { area = "User" })';

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: form.serialize(),
                    success: function (html) {
                        $('#product-list-container').html(html);
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi lọc sản phẩm!");
                    }
                });
            });
        });
    </script>
}

